.board {
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;

  $borderColor: var(--border-primary);
  $background: var(--text-primary-transparent);

  .border {
    height: calc(100% - 20px);
    width: 100%;
    background-color: $background;
    border-left: 2px solid $borderColor;
    border-right: 2px solid $borderColor;
    border-bottom: 2px solid $borderColor;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .diagonalLeft {
    width: 50%;
    height: 20px;
    background-color: $background;
    border-top: 2px solid $borderColor;
    border-left: 2px solid $borderColor;
    transform: skew(-50deg);
    position: relative;
    position: absolute;
    left: 12px;
    top: 0;
  }

  .diagonalRight {
    width: 50%;
    height: 20px;
    background-color: $background;
    border-top: 2px solid $borderColor;
    border-right: 2px solid $borderColor;
    transform: skew(50deg);
    position: relative;
    position: absolute;
    right: 12px;
    top: 0;
  }

  .corner {
    position: absolute;
    bottom: -3px;
    left: -3px;

    path {
      fill: $borderColor;
    }

    &:last-child {
      right: -3px;
      left: unset;
    }
  }
}

@media (min-width: 768px) {
  .board {
    height: 70vh;
    max-height: 70vh;
  }
}
